%h1 Group Chat

.user
  - if current_user?
    = "Logged in as #{current_user}"
  - else
    = link_to "Sign in with Twitter", "/auth/twitter"

%div#chat_box

#chat_form
  = form_for :message do |f|
    - if current_user?
      = f.hidden_field :username, :value => current_user
    - else
      = f.label :username
      = f.text_field :username
      %br
    = f.text_field :text, :size => 60
    = f.submit "Send", :id => 'message_submit'
    
:plain
  <div id="message_template" style="display:none">
    <div class="message">
      <div class="timestamp"></div>
      <div class="wrong_classification"><a href="#">Wrong?</a></div>
      <div class="classification"></div>
      <div class="username"></div>
      <div class="text"></div>
    </div>
  </div>
