<!DOCTYPE html>
<html>
<head>
  <title>Faye Messaging</title>
  <link href='http://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", "#{Rails.configuration.faye_url}/faye.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
<%=  
 #	Rails.configuration.faye_url 
%>
<div id="container">
<%= yield %>
</div>

</body>
</html>
